<header>
  <!-- トップ固定ナビゲーション -->
  <nav class="navbar navbar-expand-md bg-body-secondary" data-bs-theme="dark">
    <div class="container-fluid">
      <%= link_to 'Osanpo', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav ms-auto mb-2 me-2 mb-md-0">
          <li class="nav-item">
            <%= link_to '概要', '#', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">無効</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
            <ul class="dropdown-menu">
              <li><%= link_to 'リンク1', '#', class: 'dropdown-item' %></li>
              <li><%= link_to 'リンク2', '#', class: 'dropdown-item' %></li>
              <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
